In [1]:
import pandas as pd
import numpy as np

In [2]:
original_data = pd.read_csv?

In [6]:
original_data = pd.read_csv("breakdownlist.csv", sep = ';')

In [8]:
original_data

,id,cncmachine,cause,personnelid,starting,ending,total
0,1,M31,Cleaning,25.0,6.02.2018 14:00,7.02.2018 09:30,1170.0
1,2,M34,breakdown,14.0,22.02.2018 17:22,23.02.2018 09:04,942.0
2,3,M38,Cleaning,35.0,29.03.2018 15:02,29.03.2018 15:04,2.0
3,4,M35,Cleaning,39.0,7.04.2018 09:43,7.04.2018 11:15,92.0
4,5,M39,breakdown,3.0,10.04.2018 13:02,11.04.2018 09:13,1211.0
5,6,TG3,breakdown,37.0,12.04.2018 12:38,12.04.2018 12:40,2.0
6,7,NaN,NaN,NaN,13.04.2018 10:04,17.04.2018 14:23,6019.0
7,8,M03,breakdown,39.0,13.04.2018 10:05,13.04.2018 14:12,247.0
8,9,M03,breakdown,39.0,18.04.2018 13:44,18.04.2018 14:33,49.0
9,10,M35,other,39.0,18.04.2018 18:17,18.04.2018 18:20,3.0
10,11,M38,trouble,43.0,20.04.2018 12:02,21.04.2018 10:20,1338.0
11,12,NaN,NaN,NaN,20.04.2018 12:23,20.04.2018 12:28,5.0
12,13,NaN,NaN,NaN,9.05.2018 14:28,10.05.2018 15:10,1482.0
13,14,M03,Cleaning,39.0,10.05.2018 09:35,10.05.2018 15:11,336.0
14,15,M06,breakdown,16.0,14.05.2018 12:18,14.05.2018 13:03,45.0
15,16,M01,breakdown,16.0,17.05.2018 09:30,17.05.2018 12:46,196.0
16,17,M04,other,11.0,23.05.2018 17:10,23.05.2018 17:45,35.0
17,18,NaN,NaN,NaN,11.06.2018 12:10,20.06.2018 12:53,13003.0
18,19,M42,breakdown,43.0,12.06.2018 09:19,12.06.2018 11:36,137.0
19,20,M03,Cleaning,39.0,13.06.2018 14:08,13.06.2018 17:39,211.0
20,21,M33,breakdown,21.0,22.06.2018 10:00,22.06.2018 14:07,247.0
21,22,M05,breakdown,56.0,22.06.2018 11:34,22.06.2018 17:32,358.0
22,23,M32,breakdown,21.0,27.06.2018 09:52,27.06.2018 12:26,154.0
23,24,M31,breakdown,21.0,27.06.2018 09:52,27.06.2018 12:29,157.0
24,25,M33,breakdown,21.0,27.06.2018 09:52,27.06.2018 12:29,157.0
25,26,M10,breakdown,21.0,27.06.2018 09:53,27.06.2018 12:30,157.0
26,27,M37,breakdown,21.0,27.06.2018 09:53,27.06.2018 12:43,170.0
27,28,M36,breakdown,21.0,27.06.2018 09:53,27.06.2018 13:05,192.0
28,29,M01,Cleaning,16.0,27.06.2018 09:54,27.06.2018 12:13,139.0
29,30,M02,breakdown,39.0,30.06.2018 12:15,2.07.2018 09:41,2726.0
...,...,...,...,...,...,...,...
269,270,M36,other,77.0,6.02.2019 14:56,6.02.2019 18:10,194.0
270,271,M36,other,77.0,7.02.2019 08:59,7.02.2019 09:03,4.0
271,272,M39,other,25.0,7.02.2019 11:15,7.02.2019 11:20,5.0
272,273,M39,other,25.0,7.02.2019 14:08,7.02.2019 14:13,5.0
273,274,M39,other,25.0,7.02.2019 15:46,7.02.2019 16:35,49.0
274,275,M40,Cleaning,25.0,8.02.2019 08:50,8.02.2019 09:17,27.0
275,276,M37,Cleaning,25.0,8.02.2019 11:09,8.02.2019 14:03,174.0
276,277,M35-1,Cleaning,61.0,8.02.2019 11:32,20.02.2019 16:59,17607.0
277,278,M37,Cleaning,25.0,8.02.2019 18:20,8.02.2019 19:16,56.0
278,279,NaN,NaN,NaN,11.02.2019 16:26,11.02.2019 16:42,16.0
279,280,NaN,NaN,NaN,12.02.2019 12:54,12.02.2019 17:23,269.0
280,281,NaN,NaN,NaN,13.02.2019 10:16,13.02.2019 15:20,304.0
281,282,NaN,NaN,NaN,14.02.2019 08:50,14.02.2019 14:17,327.0
282,283,M38,Cleaning,57.0,14.02.2019 09:08,16.02.2019 09:20,2892.0
283,284,M07,Cleaning,64.0,16.02.2019 09:10,16.02.2019 13:09,239.0
284,285,M04,Cleaning,11.0,16.02.2019 09:57,16.02.2019 13:13,196.0
285,286,M40,Cleaning,9.0,16.02.2019 12:06,18.02.2019 09:04,2698.0
286,287,M42,Cleaning,9.0,16.02.2019 12:06,16.02.2019 13:09,63.0
287,288,M01,Cleaning,64.0,23.02.2019 09:17,26.02.2019 08:57,4300.0
288,289,M04,Cleaning,11.0,23.02.2019 09:21,23.02.2019 09:49,28.0
289,290,M02,breakdown,57.0,25.02.2019 08:54,25.02.2019 09:44,50.0
290,291,M07,Cleaning,64.0,1.03.2019 09:03,4.03.2019 17:43,4840.0
291,292,M35-1,Cleaning,64.0,1.03.2019 09:03,NaN,NaN
292,293,M38,Cleaning,57.0,2.03.2019 11:43,4.03.2019 14:52,3069.0
293,294,M03,breakdown,64.0,4.03.2019 11:43,NaN,NaN
294,295,M38,other,25.0,5.03.2019 10:55,7.03.2019 09:11,2776.0
295,296,M31,breakdown,40.0,6.03.2019 09:27,8.03.2019 09:04,2857.0
296,297,M07,Cleaning,64.0,7.03.2019 09:02,7.03.2019 16:32,450.0
297,298,M38,Cleaning,25.0,9.03.2019 09:51,NaN,NaN
298,299,M39,Cleaning,25.0,9.03.2019 09:53,NaN,NaN